{% extends "_layouts/elementindex" %}
{% set title = "Advertisements"|t %}
{% set elementType = craft.tobiasax.elementType %}

{% block sidebar %}
	<div class="buttons">
		<div class="btngroup submit">
			<div class="btn submit menubtn add icon">{{ "New Entry"|t }}</div>
			<div class="menu">
				<ul>
					{% for type in types %}
					<li><a href="tobiasax/{{ type.handle }}/new">{{ type.name }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>

		{% if currentUser.can('tobiasax:startImport') %}
		<a href="{{ actionUrl('tobiasAx/startImport', {redirect: craft.request.path}) }}" style="margin:10px 0 25px 0" class="btn" data-icon="refresh"> {{ 'Import advertisements'|t }}</a>
		{% endif %}

	</div>

	{{ parent() }}
{% endblock %}
